# Django / App
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=myuser
DB_PASSWORD=mypassword

# Third-party APIs
MONOBANK_TOKEN=
MONOBANK_INVOICE_URL=https://api.monobank.ua/api/merchant/invoice/create
MONOBANK_INVOICE_STATUS_URL=https://api.monobank.ua/api/merchant/invoice/status

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
